*,
::after,
::before {
  box-sizing: border-box;
}
article,
aside,
footer,
header,
main,
nav,
section {
  display: block;
}
body {
  margin: 0;
  background: #efefef;
}
.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto {
  position: relative;
  width: 100%;
}
.col-1 {
  max-width: 8.333333%;
}
.col-2 {
  max-width: 16.666667%;
}
.col-3 {
  max-width: 25%;
}
.col-4 {
  max-width: 33.333333%;
}
.col-5 {
  max-width: 41.666667%;
}
.col-6 {
  max-width: 50%;
}
.col-7 {
  max-width: 58.333333%;
}
.col-8 {
  max-width: 66.666667%;
}
.col-9 {
  max-width: 75%;
}
.col-10 {
  max-width: 83.333333%;
}
.col-11 {
  max-width: 91.666667%;
}
.col-12 {
  max-width: 100%;
}
.offset-1 {
  margin-left: 8.333333%;
}
.offset-2 {
  margin-left: 16.666667%;
}
.offset-3 {
  margin-left: 25%;
}
.offset-4 {
  margin-left: 33.333333%;
}
.offset-5 {
  margin-left: 41.666667%;
}
.offset-6 {
  margin-left: 50%;
}
.offset-7 {
  margin-left: 58.333333%;
}
.offset-8 {
  margin-left: 66.666667%;
}
.offset-9 {
  margin-left: 75%;
}
.offset-10 {
  margin-left: 83.333333%;
}
.offset-11 {
  margin-left: 91.666667%;
}
@media (min-width: 576px) {
  .col-sm {
    max-width: 100%;
  }
  .col-sm-auto {
    width: auto;
    max-width: 100%;
  }
  .col-sm-1 {
    max-width: 8.333333%;
  }
  .col-sm-2 {
    max-width: 16.666667%;
  }
  .col-sm-3 {
    max-width: 25%;
  }
  .col-sm-4 {
    max-width: 33.333333%;
  }
  .col-sm-5 {
    max-width: 41.666667%;
  }
  .col-sm-6 {
    max-width: 50%;
  }
  .col-sm-7 {
    max-width: 58.333333%;
  }
  .col-sm-8 {
    max-width: 66.666667%;
  }
  .col-sm-9 {
    max-width: 75%;
  }
  .col-sm-10 {
    max-width: 83.333333%;
  }
  .col-sm-11 {
    max-width: 91.666667%;
  }
  .col-sm-12 {
    max-width: 100%;
  }
  .offset-sm-0 {
    margin-left: 0;
  }
  .offset-sm-1 {
    margin-left: 8.333333%;
  }
  .offset-sm-2 {
    margin-left: 16.666667%;
  }
  .offset-sm-3 {
    margin-left: 25%;
  }
  .offset-sm-4 {
    margin-left: 33.333333%;
  }
  .offset-sm-5 {
    margin-left: 41.666667%;
  }
  .offset-sm-6 {
    margin-left: 50%;
  }
  .offset-sm-7 {
    margin-left: 58.333333%;
  }
  .offset-sm-8 {
    margin-left: 66.666667%;
  }
  .offset-sm-9 {
    margin-left: 75%;
  }
  .offset-sm-10 {
    margin-left: 83.333333%;
  }
  .offset-sm-11 {
    margin-left: 91.666667%;
  }
}
@media (min-width: 768px) {
  .col-md {
    max-width: 100%;
  }
  .col-md-auto {
    width: auto;
    max-width: 100%;
  }
  .col-md-1 {
    max-width: 8.333333%;
  }
  .col-md-2 {
    max-width: 16.666667%;
  }
  .col-md-3 {
    max-width: 25%;
  }
  .col-md-4 {
    max-width: 33.333333%;
  }
  .col-md-5 {
    max-width: 41.666667%;
  }
  .col-md-6 {
    max-width: 50%;
  }
  .col-md-7 {
    max-width: 58.333333%;
  }
  .col-md-8 {
    max-width: 66.666667%;
  }
  .col-md-9 {
    max-width: 75%;
  }
  .col-md-10 {
    max-width: 83.333333%;
  }
  .col-md-11 {
    max-width: 91.666667%;
  }
  .col-md-12 {
    max-width: 100%;
  }
  .offset-md-0 {
    margin-left: 0;
  }
  .offset-md-1 {
    margin-left: 8.333333%;
  }
  .offset-md-2 {
    margin-left: 16.666667%;
  }
  .offset-md-3 {
    margin-left: 25%;
  }
  .offset-md-4 {
    margin-left: 33.333333%;
  }
  .offset-md-5 {
    margin-left: 41.666667%;
  }
  .offset-md-6 {
    margin-left: 50%;
  }
  .offset-md-7 {
    margin-left: 58.333333%;
  }
  .offset-md-8 {
    margin-left: 66.666667%;
  }
  .offset-md-9 {
    margin-left: 75%;
  }
  .offset-md-10 {
    margin-left: 83.333333%;
  }
  .offset-md-11 {
    margin-left: 91.666667%;
  }
}
@media (min-width: 992px) {
  .col-lg {
    max-width: 100%;
  }
  .col-lg-auto {
    width: auto;
    max-width: 100%;
  }
  .col-lg-1 {
    max-width: 8.333333%;
  }
  .col-lg-2 {
    max-width: 16.666667%;
  }
  .col-lg-3 {
    max-width: 25%;
  }
  .col-lg-4 {
    max-width: 33.333333%;
  }
  .col-lg-5 {
    max-width: 41.666667%;
  }
  .col-lg-6 {
    max-width: 50%;
  }
  .col-lg-7 {
    max-width: 58.333333%;
  }
  .col-lg-8 {
    max-width: 66.666667%;
  }
  .col-lg-9 {
    max-width: 75%;
  }
  .col-lg-10 {
    max-width: 83.333333%;
  }
  .col-lg-11 {
    max-width: 91.666667%;
  }
  .col-lg-12 {
    max-width: 100%;
  }
  .offset-lg-0 {
    margin-left: 0;
  }
  .offset-lg-1 {
    margin-left: 8.333333%;
  }
  .offset-lg-2 {
    margin-left: 16.666667%;
  }
  .offset-lg-3 {
    margin-left: 25%;
  }
  .offset-lg-4 {
    margin-left: 33.333333%;
  }
  .offset-lg-5 {
    margin-left: 41.666667%;
  }
  .offset-lg-6 {
    margin-left: 50%;
  }
  .offset-lg-7 {
    margin-left: 58.333333%;
  }
  .offset-lg-8 {
    margin-left: 66.666667%;
  }
  .offset-lg-9 {
    margin-left: 75%;
  }
  .offset-lg-10 {
    margin-left: 83.333333%;
  }
  .offset-lg-11 {
    margin-left: 91.666667%;
  }
}
@media (min-width: 1200px) {
  .col-xl {
    max-width: 100%;
  }
  .col-xl-auto {
    max-width: 100%;
  }
  .col-xl-1 {
    max-width: 8.333333%;
  }
  .col-xl-2 {
    max-width: 16.666667%;
  }
  .col-xl-3 {
    max-width: 25%;
  }
  .col-xl-4 {
    max-width: 33.333333%;
  }
  .col-xl-5 {
    max-width: 41.666667%;
  }
  .col-xl-6 {
    max-width: 50%;
  }
  .col-xl-7 {
    max-width: 58.333333%;
  }
  .col-xl-8 {
    max-width: 66.666667%;
  }
  .col-xl-9 {
    max-width: 75%;
  }
  .col-xl-10 {
    max-width: 83.333333%;
  }
  .col-xl-11 {
    max-width: 91.666667%;
  }
  .col-xl-12 {
    max-width: 100%;
  }
  .offset-xl-0 {
    margin-left: 0;
  }
  .offset-xl-1 {
    margin-left: 8.333333%;
  }
  .offset-xl-2 {
    margin-left: 16.666667%;
  }
  .offset-xl-3 {
    margin-left: 25%;
  }
  .offset-xl-4 {
    margin-left: 33.333333%;
  }
  .offset-xl-5 {
    margin-left: 41.666667%;
  }
  .offset-xl-6 {
    margin-left: 50%;
  }
  .offset-xl-7 {
    margin-left: 58.333333%;
  }
  .offset-xl-8 {
    margin-left: 66.666667%;
  }
  .offset-xl-9 {
    margin-left: 75%;
  }
  .offset-xl-10 {
    margin-left: 83.333333%;
  }
  .offset-xl-11 {
    margin-left: 91.666667%;
  }
}

header {
  background-color: #e5e5e5;
  height: 72px;
}
.header-block {
  display: flex;
  justify-content: flex-start;
  padding-left: 14vw;
}
.title {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 30px;
  line-height: 2;
  color: #4e4e4e;
  margin: -21px;
}
#subheader {
  background-color: #e5e5e5;
}
.menu {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 25px 11vw 25px 14vw;
}

.menu-links {
  position: relative;
  cursor: pointer;
  font-family: Arial;
  font-size: 12px;
  color: #4e4e4e;
  text-decoration: none;
  text-align: center;
  padding-right: 12px;
}
a.menu-links:hover {
  color: #1abb9c;
  text-decoration: none;
}
a:hover:after,
a:focus:after {
  width: 90px;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

#banner {
    position: relative;
    width: 100%;
    height: 300px;
    background-image: url("img/main-img.jpg");
}
.banner-title {
    padding: 80px 18vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-header{
    font-family: 'Roboto Slab', serif;
    font-size: 25px;
    font-weight: bold;
    line-height: 0.88;
    text-align: center;
    color: #f3f3f3;  
}
.sub-header{
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    font-weight: bold;
    line-height: 2.5;
    text-align: center;
    color: #a8a8a8;
}
.banner-button{
    width: 120px;
    height: 35px;
    margin: 0 27vw 0 27vw;
    border-radius: 3px;
    background-color: #3f8dbf;
    font-family: 'Roboto Condensed', sans-serif;
  font-size: 14px;
  text-align: center;
  color: #ffffff;
  border: none;
}
.banner-button:hover{
    cursor: pointer;
    background-color: #1abb9c;

}
.banner-button:focus{
    border: none;
    outline-style: none;
    background-color: #1abb9c;
}   
.card-block {
    display: flex;
    justify-content: center;

  
}
.card {
  position: relative;
  display: flex;
  margin: 2vh;
  flex-direction: column;
  align-items: center;
  width: 15vw;
  height: 220px;
}
.circle{
    margin-left: 4vw;
    margin-right: 4vw;
    width: 90px;
    height: 90px;
    border-radius: 50%;
}
.circle-one{
    background-color: #9d9abf;
}
.circle-two{
    background-color: #d2514b;
}
.circle-three{
    background-color: #66a3c6;
}
.circle-four{
    background-color: #e8c04f;
}
.circle-img {
    width: 35px;
    height: 41px;
    margin: 25px 28px;
    object-fit: contain;
}
.card-title{
    font-family: 'Roboto Slab', serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.5;
    text-align: center;
    color: #4e4e4e;
}
.card-text{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    line-height: 1.5;
    text-align: center;
    color: #616161;
}
.mid-line{
    margin: 0 15vw;
    width: 70%;
    height: 2px;
    opacity: 0.11;
    background-color: black;
}

.hover:hover .card,
.hover:hover .card-title,
.hover:hover .card-text
{
  cursor: pointer;
color: #1abb9c;
}

.blog-title{
    padding-top: 2vh;
    padding-left: 15vw;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.94;
    text-align: left;
    color: #4e4e4e;
}

#blog {
    display: flex;
    justify-content: center;
}
.blog-block {
  position: relative;
  display: flex;
  margin: 1.5vh 0.5vw 2vh;
  flex-direction: column;
  width: 22.5vw;
  height: 350px;
}
.blog-img{
    height: 225px;
}
.blog-header{
    font-family: 'Roboto Slab', serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 1;
    text-align: left;
    color: #4e4e4e;
    margin: 2.5vh 0 1.5vh;
}
.blog-subheader{
    font-family: 'Roboto Slab', serif;
    font-size: 12px;
    line-height: 1;
    text-align: left;
    color: #a8a8a8;
    margin: 0;
}
.blog-text{
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    line-height: 2;
    text-align: left;
    color: #5c5c5c;
    margin: 2.5vh 0;
}
.hover:hover .blog-block,
.hover:hover .blog-header,
.hover:hover .blog-subheader,
.hover:hover .blog-text{
    cursor: pointer;
color: #1abb9c; 
}

.quote{
    height: 200px;
    background-color: #e5e5e5;
}
.quote-symbol{
    font-family: 'Libre Baskerville', serif;
  font-size: 100px;
  margin: 8vh;
  line-height: 0.35;
  letter-spacing: -5px;
  text-align: center;
  color: #dbd8d8;
}
.quote-text{
    margin: 0 27vw;
    font-family: 'Roboto Slab';
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #a1a1a1;
}
.hover:hover .quote,
.hover:hover .quote-symbol,
.hover:hover .quote-text{
    cursor: pointer;
    color: #1abb9c;
}

footer{
    height: 440px;
    background-color: #dbd8d8;
}
#footer-posts{
    height: 400px;
    display: flex;
    justify-content: center;
}

.footer-block {
    display: flex;
    margin: 3vh 1.5vw 2vh;
    flex-direction: column;
    width: 15vw;
    height: 300px;
}
.footer-header{
    font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.22;
  letter-spacing: normal;
  text-align: left;
  color: #6c6c6c;
  margin-bottom: 0;
}
.footer-text{
    font-family: 'Roboto', sans-serif;
  font-size: 12px;
  line-height: 1.60;
  text-align: left;
  color: #bdbdbd;
}
.twitter{
    font-family: 'Roboto', sans-serif;
  font-size: 12px;
  line-height: 1.60;
  text-align: left;
  color: #bdbdbd; 
  text-decoration: none;
  margin: 1vh 0;
}
.twitter:hover{
    cursor: pointer;
    color: #1abb9c;
}
.posts:hover{
    cursor: pointer;
    color: #1abb9c; 
}
.fa-twitter, .fa-map-marker-alt, .fa-tty, .fa-envelope{
     margin: 1vh;
}
a.footer-text{
    text-decoration: none;
}
a.footer-text:hover{
    cursor: pointer;
    color: #1abb9c;
}
.footer-line{
    margin: 0 15vw;
    width: 70%;
    height: 2px;
    opacity: 0.11;
    background-color: white;
}
.copywright{
    font-family: 'Roboto', sans-serif;
  font-size: 12px;
  line-height: 1.60;
  text-align: center;
  color: #bdbdbd; 
  margin: 1vh 0;
}
.hidden{
  display: none;
}
/* media 992 */
@media (max-width: 992px) {

}
@media (max-width: 961px) {

}
@media (max-width: 768px) {
  .hidden{
    display: block;
  }
.active{
  display: none;
}
.wrapper{
  margin: 0 auto;
  background-color: #e5e5e5;
  position: relative;
  color: white;
  text-align: center;
  height: 72px;
}

#check-menu{
  display: none;
}

label{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 2;
  line-height: 40px;
}
.title {
  margin: 15px 0;
  white-space: nowrap;
}
.header-block {
  padding-left: 0;
  margin-left: -6vw;
}

.burger-line{
  position: absolute;
  top: 8px;
  right: 10px;
  width: 35px;
  height: 2px;
  margin: 14px;
  background-color: #fff;
  transition: .5s all;
  border-radius: 50px;
}

.second, .third{
  top: 18px;
}

.fourth{
  top: 28px;
}

.main-menu{
  display: block;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  transform: translateY(100%);
  max-height: 0;
  font-size: 0;
  overflow: hidden;
  transition: .5s all;
}

a.b-link{
  display: block;
  width: 100%;
  padding: 7.8px;
  color: white;
  text-decoration: none;
  opacity: 0.9;
  background-color: #bdbdbd;
  font-family: Arial;
}

.b-link:hover{
  background-color: #a3a3a3;
  opacity: 1;
  cursor: pointer;
    background-color: #1abb9c;
}

#check-menu:checked ~ .main-menu{
  max-height: 500px;
  font-size: 16px;
  z-index: 2;
}

#check-menu:checked ~ .first{
  display: none;
}

#check-menu:checked ~ .second{
  transform: rotate(45deg);
}

#check-menu:checked ~ .third{
  transform: rotate(-45deg);
}

#check-menu:checked ~ .fourth{
  display: none;
}

.title {
    margin: 7px 0;
}
.banner-button {
    margin: 0 25vw 0 25vw;
}
.card-block {
    display: flex;
    justify-content: center;
    margin: 0 40vw;
    flex-direction: column;
}
#banner {
    height: 200px;
}
.banner-title {
    padding: 20px 18vw;
}
.main-header {
    font-size: 16px;
    line-height: 1.5;
}
.sub-header {
    font-size: 14px;
    line-height: 1.5;
}
.card {
    position: relative;
    display: flex;
    margin: 2vh;
    flex-direction: column;
    align-items: center;
}
.card-text {
    width: 40vw;
}
.mid-line {
    margin: 15px 15vw;
}
#blog {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.blog-block {
    width: 40.5vw;
    height:330px;
}

.blog-title {
    padding-top: 0;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.quote-text {
    margin: 0 10vw;
    font-size: 15px;
}
.footer-block {
    margin: 6vh 1.5vw 2vh;
    width: 80vw;
    height: 150px;
}
#footer-posts {
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
footer {
  height: 1000px;
}

}

@media (max-width: 425px){
    .main-header {
        font-size: 16px;
        line-height: 1.2;
    }
    .sub-header {
        font-size: 14px;
        line-height: 1.2;
    }
    .blog-block {
        width: 80vw;
    }
  
    .footer-block {
        margin: 6vh 1.5vw 2vh;
        width: 80vw;
        height: 165px;
    }
}

@media(max-width: 375px){
  .quote {
    height: 220px;
  }
  .footer-block {
        width: 87vw;
        height: 175px;
    }
    footer {
      height: 1050px;
  }
}


