@font-face{
    font-family: "Big Shoulders Display";
    src: url("./Fonts/BigSouldersDisplay/BigShouldersDisplay-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: "Notable";
    src: url("./Fonts/Notable-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: "Just Another Hand";
    src: url("./Fonts/JustAnotherHand-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

body{
    background-image: url(./gallery/backimg.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    height: 100%;
}

header{
    color: aqua;
    margin: 0 2% auto;
    height: 20vh;
    width: 95vw;
    position: relative;
   
}

.hello{
    font-family: "Just Another Hand", cursive;
    color: rgb(140, 251, 255);
    text-shadow: 0 5px 5px rgb(66, 38, 88);
    font-size: 90px;
    font-weight: 100;
    text-align: center;
    margin: 0 auto;
}

nav{
    color: aqua;
    margin: 0 2% auto;
    width: 95vw;
    position: relative;
}

.menu{
    font-family: "Big Shoulders Display";
    font-size: 25px;
    word-spacing: 50px;
    display: block;
    margin: 0 auto;
    max-height: 90vh;
    text-align: center;
}

a{
    color: rgb(115, 211, 214);
    text-decoration: none;
}

a:visited {
    color: rgb(176, 49, 207);
}

a:hover {
    color: hotpink;
}

.account-form{
    margin: 0 auto;
    position: relative;
    left: 33vw;
}

.account-name{
    margin: 0 auto;
    padding-left: 65px;
    font-family: "Big Shoulders Display", serif;
    color: darkcyan;
    font-size: 19px;
}

.account-name-password{
    margin: 0 auto;
    padding-left: 236px;
    font-family: "Big Shoulders Display", serif;
    color: darkcyan;
    font-size: 19px;
}

.account-email{
    margin: 0 5px auto;
    float: left;
    font-family: "Big Shoulders Display", "Notable", serif;
}

.account-password{
    margin: 0 auto;
    
}

.email{
    background-color: rgba(22, 90, 90, 0.3);
    box-shadow: 0 0 5px  rgba(16, 152, 185, 0.747);
    outline-color: rgba(24, 153, 153, 0.897);
    border-radius: 4px;
    font-family: "Big Shoulders Display", sans-serif;
    font-size: 16px;
    color: rgb(115, 211, 214);
    width: 170px;
    border-style: none;
}

.email:focus{
    outline-color: rgba(194, 26, 194, 0.808);
  
}

.password{
    background-color: rgba(22, 90, 90, 0.3);
    box-shadow: 0 0 5px  rgba(16, 152, 185, 0.747);
    outline-color: rgba(24, 153, 153, 0.897);
    border-radius: 4px;
    font-family: "Big Shoulders Display", serif;
    font-size: 16px;
    color: rgb(115, 211, 214);
    width: 170px;
    border-style: none;
}

.password:focus{
    outline-color: rgba(194, 26, 194, 0.808);
}

.submit{
    background-color: rgba(22, 90, 90, 0.4);
    border-style: none;
    border-radius: 4px;
    font-family: "Big Shoulders Display", serif;
    font-size: 16px;
    font-weight: 500;
    margin: 0 auto;
    color: rgb(115, 211, 214);
}

.submit:hover{
outline-color: mediumturquoise;
}

main{
    position: relative;
}

.block{
margin: 0 auto;
display: inline-block;
width: 95vw;
height: 95vh;
position: relative;
top: 0px;
left: 3vw;
}

.content{
max-width: 40vw;
background-color: rgba(202, 171, 130, 0.2);
border-radius: 99px 15px 15px;
box-shadow: 0 0 5px 5px rgba(15, 161, 142, 0.692);
}

article.text{
    padding: 15px 35px;
    font-family: "Big Shoulders Display", serif;
    font-size: 20px;
    display: block;
    margin: 0 auto;
    color: rgb(115, 211, 214);
    max-height: 90vh;
    text-align: center;
}

.img{
    height: 200px;
    float: left;
    margin: 0 auto;
    max-width: 200px;
    bottom: 0px;
    border-radius: 99px 30px 10px 30px;
    object-fit: cover;
}

.img2{
    height: 200px;
    float: right;
    margin: 0 auto;
    max-width: 200px;
    bottom: 0px;
    border-radius: 10px 15px 10px 99px;
    object-fit: cover;
}

.img3{
    height: 200px;
    float: left;
    margin: 0 auto;
    max-width: 200px;
    border-radius: 99px 30px 5px 30px;
    object-fit: cover;
}

h1.article-header{
    font-family: "Notable", sans-serif;
    color: rgb(41, 221, 182);
    text-align: center;
    letter-spacing: 5px ;
    font-size: 25px;
    padding-top: 20px;
}


ul.happy{
    display: block;
    margin: 0 auto;
    list-style: none;
    text-align: left;
}

.list:before{
    content: "\2605";
    position: relative;
    left: 1px;
    color: rgb(190, 66, 248);
}

.box{
    display: block;
    margin: 0 auto;
    top: 3vh;
    left: 55%;
    position: absolute;
    max-width: 300px;

}

.container{
    position: relative;

}

.square{
    float: left;
    height: 200px;
    width: 300px;
    background: linear-gradient(to right, rgba(152, 251, 152, 0.5), rgba(180, 240, 41, 0.5)); 
    position: relative;
    border-radius: 10%;
}

.sircle{
    border-radius: 50%;
    height: 50px;
    width: 50px;
    position: absolute;
    top: 2vh;
    left: 2vw;
    text-align: center;
    background-image: url(./gallery/star.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 55px;
    animation: stars 5s linear 0s infinite normal;
}

.square2{
    margin-top: 12px;
    float: left;
    height: 200px;
    width: 300px;
    background: linear-gradient(to bottom left, rgba(255, 87, 247, 0.5) , rgba(43, 252, 172, 0.5));
    position: relative;
    border-radius: 10%;
}

.sircle2{
    border-radius: 50%;
    height: 50px;
    width: 50px;
    position: absolute;
    top: 3vh;
    left: 15vw;
    text-align: center;
    background-image: url(./gallery/star.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 55px;
    animation: stars 5s linear 0.5s infinite alternate;
}

.square3{
    margin-top: 12px;
    float: left;
    height: 200px;
    width: 300px;
    background: radial-gradient(circle, rgba(28, 13, 94, 0.671),rgba(61, 197, 84, 0.555), rgba(128, 0, 64, 0.5)); 
    position: relative;
    border-radius: 10%;
}


.sircle3{
    border-radius: 50%;
    height: 50px;
    width: 50px;
    position: absolute;
    top: 2vh;
    left: 2vw;
    text-align: center;
    background-image: url(./gallery/star.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 55px;
    animation: stars 5s linear 1s infinite reverse;
}

div.quote-block{
    position: relative;
    left: 5px;
    height: 200px;
    width: 285px;
}

span.quote-text{
    margin: 0 auto;
    position: absolute;
    top: 75px;
    font-family: "Just Another Hand", cursive;
    color: rgb(140, 251, 255);
    text-shadow: 0 2px 2px black;
    font-size: 30px;
    text-align: center;
}

.sidebar{
    width: 100%;
    height: 100%;
}

.diamonds{
    margin: 2% auto;
    position: absolute;
    height: calc(100vh*3.2);
    width: 10vw;
    top: 25%;
    right: 2%;
    bottom: 25%;
    background-size: 100px 75px;
    background-image: url(./gallery/diamond.png);
    background-position:  right;
    background-repeat: space, repeat-y;
    overflow: auto;
    
}


#container div.square:first-child:hover{
    box-shadow: 0 0 5px 5px rgba(15, 161, 142, 0.692);
    transform: translate(20px);
}

#container div:nth-child(2):hover{
    box-shadow: 0 0 5px 5px rgba(15, 161, 142, 0.692);
    transform: translate(200px);
    transition-duration: 2s;
}

#container div.square3:last-child:hover{
    box-shadow: 0 0 5px 5px rgba(15, 161, 142, 0.692);
    transition-duration: 5s;
    transform: translate(200px);
}

@keyframes stars{
0% {
    transform: rotate(0deg);
}

50%{
    transform: rotate(180geg);
}

100% {
    transform: rotate(360deg);
}

}

.clear {
    clear: both;
}

div.gallery{
    width: 300px;
    position: relative;
    float: left;
    top: 50px;

}

div.gallery img{
    height: 200px;
    width: 200px;
    border-radius: 15px 50px;
}

.gallery-header{
    margin: 0 auto;
    font-family: "Notable", serif;
    color: rgba(233, 36, 134, 0.9);
    font-size: 45px;
    text-shadow: 10px 10px 10px rgba(114, 37, 150, 0.555);
    text-align: center;
    letter-spacing: 5px;

}

.gallery-img-one{
    position: absolute;
}

.gallery-img-two{
    position: absolute;
    top: 100px;
    left: 50px;
}

.gallery-img-three{
    position: absolute;
    top: 150px;
    left: 100px;
}

.gallery-img-one:hover{
    z-index: 1;
}

.gallery-img-two:hover{
    z-index: 2;
}

.gallery-img-three:hover{
    z-index: 3;
}


footer{
    margin: 5% 2% auto;
    width: 95vw;
    position: relative;
    bottom: 0px;
    text-align: center
}

.footer-name{
    font-family: "Big Shoulders Display", serif;
    font-size: 26px;
    font-weight: 500;
    margin: 0 auto;
    color: rgb(115, 211, 214);
}

.contacts-list{
    color: rgb(115, 211, 214);
    font-family: "Big Shoulders Display", serif;
    font-size: 16px;
    font-weight: 500;
    margin: 0 auto;
    list-style: none;
}


.mail{
    color: rgb(115, 211, 214);
    font-family: "Big Shoulders Display", serif;
    font-size: 16px;
    font-weight: 500;
    margin: 0 13px auto;
}



.tel{
    color: rgb(115, 211, 214);
    font-family: "Big Shoulders Display", serif;
    font-size: 16px;
    font-weight: 500;
    margin: 0 17px auto;
}

.link-to-header{
    color: rgb(115, 211, 214);
    font-family: "Big Shoulders Display", serif;
    font-size: 26px;
    font-weight: 500;
    margin: 0 auto;
}

a.link-to-header:visited{
    outline-color: rgb(255, 59, 255);
}

.copyright{
    color: rgba(195, 111, 252, 0.985);
    font-size: 26px;
    font-family: "Just Another Hand", cursive;
}

.copyright:after{
    content: "\2764";
    font-size: 20px;
    margin: 0 5px auto;
}